@import 'tailwindcss';

/* ===== LAYERS ===== */
@layer base {
body {
        @apply bg-gray-800 text-white font-ztnature
    }

    /* Heading */
    h1 {
        @apply font-ztnature text-4xl font-bold;
    }
    h2 {
        @apply font-ztnature text-3xl font-bold; /* my-8 */
    }
    h3 {
        @apply font-ztnature text-2xl font-bold;
    }
    h4 {
        @apply font-ztnature text-xl font-bold;
    }
    h5 {
        @apply font-ztnature text-lg font-bold;
    }
    h6 {
        @apply font-ztnature text-sm font-bold;
    }

    input[type="button"] {
        @apply border-2 border-gray-700 p-1.5 rounded-xl w-30 hover:bg-gray-300
    }
}

@layer components {
    .btn-primary {
        @apply inline-block text-center text-black font-ztnature font-bold text-xl italic w-[280px] py-4 bg-white border-transparent border-3 rounded-lg cursor-pointer
        hover:bg-gray-300 hover:border-gray-300 transition-all ease-out;
    }

    .btn-secondary {
        @apply inline-block text-center text-white font-ztnature font-bold text-xl italic w-[280px] py-4 bg-transparent border-3 border-white rounded-lg cursor-pointer
        hover:bg-white hover:text-black transition-all ease-out;
    }
}


/* ===== FONTS ===== */
/* Importation de ZT Nature */
@font-face {
  font-family: "ZT Nature";
  src: url("./assets/fonts/ZTNature/ZTNature-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ZT Nature";
  src: url("./assets/fonts/ZTNature/ZTNature-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "ZT Nature";
  src: url("./assets/fonts/ZTNature/ZTNature-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ZT Nature";
  src: url("./assets/fonts/ZTNature/ZTNature-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* Importation de ZT Bros Oskon 90s */
/* @font-face {
  font-family: "ZT Bros Oskon 90s";
  src: url("./assets/fonts/ZTBrosOskon90s/ZTBrosOskon90s-ExtLtIta.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "ZT Bros Oskon 90s";
  src: url("./assets/fonts/ZTBrosOskon90s/ZTBrosOskon90s-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "ZT Bros Oskon 90s";
  src: url("./assets/fonts/ZTBrosOskon90s/ZTBrosOskon90s-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ZT Bros Oskon 90s";
  src: url("./assets/fonts/ZTBrosOskon90s/ZTBrosOskon90s-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "ZT Bros Oskon 90s";
  src: url("./assets/fonts/ZTBrosOskon90s/ZTBrosOskon90s-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
} */

/* Importation de Crimson Pro */
@font-face {
  font-family: "Crimson Pro";
  src: url("./assets/fonts/CrimsonPro/CrimsonPro-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 900;
  font-style: normal;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("./assets/fonts/CrimsonPro/CrimsonPro-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 900;
  font-style: italic;
}

@theme {
  --font-ztnature: "ZT Nature", sans-serif;
  /* --font-zt90s: "ZT Bros Oskon 90s", serif; */
    --font-crimson-pro: "Crimson Pro", serif;
}